<h2 class="pb-3" style="color:darkcyan;border-bottom:1px solid; border-color:darkcyan;">Vendite per cliente</h2>
<h3 style="color:darkcyan;">Inserisci Un Codice Fiscale</h3>
<div class="container mt-3">
    <div class="row justify-content-center">
            <div class="input-group mb-3 p-0">
                <input type="text" class="form-control" style="border-color:darkcyan" id="codiceFiscaleInput" placeholder="Inserisci Codice Fiscale" aria-label="Codice Fiscale" aria-describedby="button-addon">
                <button class="btn text-white" style="background-color:darkcyan" type="button" id="btnMostraProdotti">Cerca Vendite</button>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="prodottiContainer"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnMostraProdotti').click(function () {
            var codiceFiscale = $('#codiceFiscaleInput').val();
            if (codiceFiscale) {
                $.ajax({
                    url: '@Url.Action("GetProdottiByCodiceFiscale", "Pharmacists")',
                    type: 'GET',
                    data: { codiceFiscale: codiceFiscale },
                    success: function (data) {
                        $('#prodottiContainer').html(data);
                    },
                    error: function() {
                        $('#prodottiContainer').html('<div class="alert alert-danger" role="alert">Nessuna vendita registrata per il codice fiscale inserito.</div>');
                    }
                });
            } else {
                $('#prodottiContainer').empty();
            }
        });
    });
    </script>
}
