@{
    ViewBag.Title = "Medicina per Data";
}

<h2 class="pb-3" style="color:darkcyan; border-bottom:1px solid; border-color:darkcyan">@ViewBag.Title</h2>

<div class="form-group">
    <label for="dataVendita">Data Vendita:</label>
    <input type="date" class="form-control" style="border-color:darkcyan" id="dataVendita" name="dataVendita">
</div>
<button id="btnCercaMedicine" class="btn text-white mt-3" style="background-color:darkcyan">Cerca Medicine</button>

<div id="medicineContainer"></div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnCercaMedicine').click(function () {
            var dataVendita = $('#dataVendita').val();
            if (dataVendita) {
                $.ajax({
                    url: '@Url.Action("GetMedicineByDate", "Pharmacists")',
                    type: 'POST',
                    data: { dataVendita: dataVendita },
                    success: function (data) {
                        $('#medicineContainer').html(data);
                    },
                    error: function() {
                        $('#medicineContainer').html('<span style="color: red;">Nessuna medicina trovata per questa data.</span>');
                    }
                });
            } else {
                $('#medicineContainer').empty();
            }
        });
    });
    </script>
}
