@model List<ClinicaVeterinaria.Models.Hospitalization>

@{
    ViewBag.Title = "Ricerca Ricovero";
}

<h2 class="text-success border-bottom border-success pb-3">Ricerca Ricovero</h2>

<form id="searchForm" class="form-inline">
    <div class="form-group mb-1">
        <label for="MicrochipCodice" class="mr-2">Inserisci il numero microchip:</label>
        <input type="text" id="MicrochipCodice" name="MicrochipCodice" class="form-control mr-2 border-success" />
    </div>
    <button type="button" id="searchButton" class="btn btn-success mt-2">Cerca</button>
</form>


<div id="searchResults"></div>

@section scripts {
    <script>
        $(document).ready(function () {
    $("#searchButton").click(function () {
        var MicrochipCodice = $("#MicrochipCodice").val();
        console.log("MicrochipCodice: " + MicrochipCodice);
        $.ajax({
            url: '@Url.Action("SearchByMicrochip", "Home")',
            type: 'GET',
            data: { MicrochipCodice: MicrochipCodice },
            success: function (data) {
                $("#searchResults").html(data);
            },
            error: function () {
                alert('Si è verificato un errore durante la ricerca.');
            }
        });
    });
});
    </script>
}
