<main>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 card-container" id="card1">
                <a href="@Url.Action("LoginDoctor", "Home")" class="card-link text-center text-decoration-none">
                    <div class="card h-100">
                        <img src="https://www.veterinari.vda.it/wp-content/uploads/2020/01/android-chrome-512x512-1.png" class="card-img-top img-fluid" alt="Immagine 1">
                        <div class="card-body">
                            <h5 class="card-title text-success">Login Veterinari</h5>
                            <p class="card-text text-secondary">
                                Sei un Medico?
                                Clicca qui per effettuare il login
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-container" id="card2">
                <a href="@Url.Action("HospitalizationsSearch", "Home")" class="card-link text-center text-decoration-none">
                    <div class="card h-100">
                        <img src="https://previews.123rf.com/images/dstarky/dstarky1702/dstarky170200254/71408528-cerca-icona-o-logo-in-stile-moderno-pittogramma-di-profilo-nero-di-alta-qualit%C3%A0-per-il-design-del.jpg" class="card-img-top img-fluid" alt="Immagine 2">
                        <div class="card-body">
                            <h5 class="card-title text-success">Ricerca ricoveri</h5>
                            <p class="card-text text-secondary">
                                Cerchi il tuo animale?
                                Clicca qui per effettuare il login
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 card-container" id="card3">
                <a href="@Url.Action("LoginFarmacia", "Home")" class="card-link text-center text-decoration-none">
                    <div class="card h-100">
                        <img src="https://itimbripersonalizzati.it/wp-content/uploads/2015/01/Timbri-per-farmacisti.jpg" class="card-img-top img-fluid mb-5" alt="Immagine 3">
                        <div class="card-body">
                            <h5 class="card-title text-success">Login Farmacisti</h5>
                            <p class="card-text text-secondary">
                                Sei un farmacista?
                                Clicca qui per effettuare il login
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#card1').addClass('show-left');
            $('#card2').delay(200).addClass('show-top');
            $('#card3').delay(400).addClass('show-right');
        });
    </script>
}