@model IEnumerable<ClinicaVeterinaria.Models.Beast>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between">
        <h2>Lista Animali</h2>
        <a href="@Url.Action("AddBeast", "Doctors")" class="btn btn-success mb-3">Aggiungi</a>
    </div>
    <table class="table table-striped">
        <tbody>
            @foreach (var beast in Model)
            {
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-auto">
                                <img src="@beast.Foto" alt="Foto" style="max-width: 100px; max-height: 100px;" />
                            </div>
                            <div class="col">
                                <div class="d-flex align-items-center">
                                    <span>@beast.Nome</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <a href="@Url.Action("Details", "Doctors", new { id = beast.BeastID })" class="btn btn-info">Dettagli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
